{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a href="{% url 'store' %}">Книги</a>
    <a href="{% url 'logout' %}">Выход</a>
{% endblock navbar %}

{% block title %}Книги{% endblock %}

{% block body %}
    <article class="container" style="padding: 60px">
        <h1 class="col-12">{{ book.title }}</h1>
        <div class="row">
            <img class="col-3" src="/{{ book.image }}">
            <div class="col">
                <table>
                    <tr>
                        <td>Автор:</td>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <td>Год издания:</td>
                        <td>{{ book.year }}</td>
                    </tr>
                    {% if book.count > 0 %}
                        <tr>
                            <td>Количество:</td>
                            <td>{{ book.count }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Нет в наличае</td>
                        </tr>
                    {% endif %}
                </table>
                {% if book.count > 0 %}
                    <br/>
                <form action="" method="post" id="order_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="send_order" type="submit" value="Взять" style="max-width: 320px"/>
                </form>
                {% endif %}
            </div>
        </div>
    </article>
    <script>
        $('#send_order').click(function (event) {
            event.preventDefault();
            var form = new FormData(document.getElementById('order_form'));
            fetch('/store/order', {
                method: 'post',
                body: form,
                credentials: "same-origin"
            })
        });
    </script>
{% endblock %}