{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a href="{% url 'store' %}">Книги</a>
    <a href="{% url 'logout' %}">Выход</a>
{% endblock navbar %}

{% block title %}Книги{% endblock %}

{% block body %}
    <article class="container" style="padding: 60px">
        <h1 class="col-12">{{ book.title }}</h1>
        <div class="row">
            <img class="col-3" src="/{{ book.image }}">
            <table>
                <tr>
                    <td>Автор:</td>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <td>Год издания:</td>
                    <td>{{ book.year }}</td>
                </tr>
                {% if book.count > 0 %}
                    <tr>
                        <td>Количество:</td>
                        <td>{{ book.count }}</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Взять">
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Нет в наличае</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </article>
{% endblock %}