{% extends 'base.html' %}

{% block navbar %}
    <a href="{% url 'front' %}">Главная</a>
    <a href="{% url 'log_in' %}">Вход</a>
{% endblock navbar %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <article class="container" style="padding: 60px 25%">
        <h1>Регистрация</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Зарегистрироваться</button>
        </form>
    </article>
    <script>
    var password1 = $('#id_password1');
    var password2 = $('#id_password2');
    password2.change(function () {
        if (password1.val() !== password2.val()) {
            password2.css('borderColor', 'red');
            password2.attr('title', 'Пароли не совпадают');
        }
        else {
            password2.css('borderColor', 'grey');
            password2.attr('title', 'Введите пароль повторно');
        }
    })
    </script>
{% endblock %}