{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <a href="{% url 'add_book' %}">Добавить</a>
    <a href="{% url 'logout' %}">Выход</a>
{% endblock navbar %}

{% block title %}Книги{% endblock %}

{% block body %}
    <article class="container" style="padding: 60px">
        <h1>Книги</h1>
        <div>
            <span>В наличии</span>
            <div style="display: inline-block; padding: 3px; vertical-align: top;"><input type="checkbox" id="stock">
            </div>
        </div>
        <ul class="container" id="endless_page_template">
            {% include page_template %}
        </ul>
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'store' %}?page={{ page_obj.previous_page_number }}">Предидущая.</a>
                {% endif %}
                <span class="page-current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'store' %}?page={{ page_obj.next_page_number }}">Следующая.</a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    </article>
    <script>

        function getParameters() {
            var result = {};
            var sPageURL = decodeURIComponent(window.location.search.substring(1));
            var sURLVariables = sPageURL.split('&');

            sURLVariables.forEach(function (sURLVariable) {
                var sParameterName = sURLVariable.split('=');
                result[sParameterName[0]] = sParameterName[1];
            });
            return result;
        }

        $(function () {

            var GET = getParameters();

            var stock = $('#stock');

            if (GET['stock'] === 'true')
                stock.attr('checked', 'checked');


            stock.change(function () {
                if (stock.prop( "checked" )) {
                    window.location.replace('{% url 'store' %}?stock=true');
                }
                else {
                    window.location.replace('{% url 'store' %}');
                }
            })
        });


    </script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/el-pagination.js' %}"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>
{% endblock %}